/* Recipes */
.recipes-section {
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.one-recipe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  border-radius: 1em;
  position: relative;
  height: 100%;
  background-color: white;
}

.title-recipe {
  text-align: center;
  padding: 0.2em;
  color: white;
  border-radius: 20px;
}
.title-box-recipe {
  background-color: var(--first-color);
  width: 100%;
}

.content-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 1em;
  width: 99%;
  background-color: white;
  height: 100%;
  padding-bottom: 1em;
  border-radius: 0em 0em 1em 1em;
}

.img-recipe {
  border-radius: 1em 1em 0em 0em;
  width: 300px;
}

.tags-recipe {
  color: var(--first-color);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.img-hover-recipe {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 997;
  background-color: #000000;
  opacity: 0;
  height: 300px;
  border-radius: 1em 1em 0em 0em;
}

.img-hover-recipe:hover {
  opacity: 0.4;
  cursor: pointer;
}

.hover-img-svg {
  height: 10%;
}
.hover-text-svg {
  height: 60%;
  margin-top: 5%;
}

.tag-racipe {
  background-color: var(--green-color);
  color: white;
  margin-top: 1em;
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 2em;
  border-radius: 0em 1em 1em 0em;
}

.show-more-button {
  background-color: rgb(202, 216, 182);
  margin: auto;
  box-shadow: none;
}
