/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--first-color);
}
.logo-header {
  height: 7vh;
}

.logo-title-header {
  display: flex;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

/* Research */

.research-section {
  background-color: rgb(242, 242, 242);
  border: 2px 0px 0px 0px  solid black;
  text-align: center;
  color: rgb(89, 71, 31);
  margin-bottom:2em;
  padding:1em
}
.research-button {
  background-color: var(--first-color);
  color: #ffffff;
  box-shadow: 2px 3px 3px var(--dark-color);
}

.filters-section{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.choices-list-research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;

}

#choices-dish{
  height:150px;

}

#choices-dish label {  padding-left: 2em;}