:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
 --first-color :rgba(214, 161, 0, 0.87);  
 --secondary-color : rgb(97, 97, 153);
 --third-color : rgb(46, 52, 5);
 --dark-color:  rgb(31, 21, 2);
 --light-color : rgb(253, 234, 209);
 --background-color:rgb(242, 242, 242);
 --green-color: rgb(170, 188, 101);
}

body {
  margin: 0;
  background-color: rgb(242, 242, 242);
  font-family: "Montserrat",;
}

h1 {
  font-size: 6em;
  margin:0;
  margin-left:0.5em;
  font-family: "Sue Ellen Francisco";
}

h2{margin:0}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 3px 3px 0px rgb(101, 101, 23)
}

button:active {
  box-shadow: 0px 0px 0px black;
  transform: scale(0.9);
  }

a {
  text-decoration: none;
  color:inherit
}


@media  screen and (max-width:992px) {
  h1 {
    font-size: 2.5em;
      margin:0
  
  }

  h3 {text-align: center;}
}
